name: Churn Prediction CI

on:
    push:
        branches: [ "main" ]
    pull_request:
        branches: [ "main" ]

jobs:
    build-test:
        runs-on: ubuntu-latest

        steps:
            # 1️⃣ Checkout code
            - name: Checkout repository
                uses: actions/checkout@v4

            # 2️⃣ Set up Python
            - name: Set up Python
                uses: actions/setup-python@v5
                with:
                    python-version: "3.10"

            # 3️⃣ Install dependencies
            - name: Install dependencies
                run: |
                    python -m pip install --upgrade pip
                    pip install -r requirements.txt

            # 4️⃣ Basic import test
            - name: Run basic app test
                run: |
                    python - <<EOF
                    import fastapi
                    import sklearn
                    import pandas
                    print("Basic imports successful")
                    EOF

            # 5️⃣ Build Docker image
            - name: Build Docker image
                run: docker build -t churn-api .