name: CI Pipeline

on:
    push:
        branches: [ main ]
    pull_request:
        branches: [ main ]

jobs:
    build-test:
        runs-on: ubuntu-latest

        steps:
            # 1️⃣ Checkout code
            - name: Checkout repo
              uses: actions/checkout@v4

            # 2️⃣ Set up Python
            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version: "3.10"

            # 3️⃣ Install dependencies
            - name: Install dependencies
              run: |
                    python -m pip install --upgrade pip
                    pip install -r requirements.txt

            # 4️⃣ Train model
            - name: Train model
              run: python src/train.py

            # 5️⃣ Verify model exists
            - name: Verify model file
              run: ls -la models/

            # 6️⃣ Basic API import test
            - name: API import test
              run: |
                    python - <<EOF
                    from app.main import app
                    print("✅ FastAPI import successful")
                    EOF

            # 7️⃣ Run linting
            - name: Lint with flake8
              run: |
                    pip install flake8
                    flake8 src/ app/ --count --select=E9,F63,F7,F82 --show-source --statistics

            # 8️⃣ Docker build test
            - name: Build Docker image
              run: docker build -t churn-api .